*{
    margin:0px;
    padding:0px;
    font-family: Figtree-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif; 
    box-sizing: border-box;
}

/* Header-> */
header{
    display: flex;
    width:100%;
    height:80px;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e0e0;
    position:fixed;
    top:0px;
}
.logo-container{
    margin-left:60px;
}
.myntra_home{
    height:36px;
}
.nav-bar{
    display:flex;
    min-width:500px;
    justify-content: space-evenly;
}
.nav-bar a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: .3px;
    color: #282c3f;
    font-weight: 700;
    padding:28px 0;
    border-bottom: 5px solid #fff;
}
.nav-bar a:hover{
    border-bottom: 5px solid #f54e77;
}
.nav-bar a sup{
    color:#ff3f6c;
    font-size:10px;
}
.search-bar{
    height:40px;
    min-width:450px;
    display:flex;
    align-items: center;
    min-width: 200px;
    width:30%;
}
.search_icon{
    box-sizing: content-box;
    height:20px;
    padding:10px;
    background-color: #f5f5f6;
    border-radius: 4px 0 0 4px;
    color: #282c3f;
    font-weight: 300;
}
.search_input{   
    background-color: #f5f5f6;
    color :#696e79;
    flex-grow: 1;
    border-radius: 0 4px 4px 0;
    height:40px;
    border: none;
}
.action-bar{
    margin-right:60px;
    display:flex;
    min-width: 200px;
    justify-content: space-evenly;
}
.action_container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Main-> */
.banner_container{
    margin-top:100px;
    margin-bottom: 40px;
}
.banner_image{
    width:100%;
}
.category_heading{
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: .15em;
    font-size: 1.8em;
    margin: 50px 0 50px 30px;
    max-height: 5em;
    font-weight: 700;
}
.category_items{
    display: flex;
    flex-wrap:wrap; 
    justify-content: space-evenly; 
}
.rssale_item{
    height:400px;
    width:300px;
}
.lgsale_item{
    height:355px;
    width:250px;
}
.mbsale_item{
    height:355px;
    width:250px;
}
.ggbsale_item{
    height:355px;
    width:250px;
}
.scsale_item{
    height:330px;
    width:220px;
    margin:10px;
}

/* Footer-> */
.footer_container{
    padding: 30px 0 40px 0;
    background-color: #fafbfc;
    display:flex;
    justify-content: space-evenly;
}
.footer_column{
    display: flex;
    flex-direction: column;
}
.footer_column h3{
    font-size: 14px;
    color: #282c3f;
    margin-top: 10px;
    margin-bottom: 25px;
}
.footer_column a{
    color: #696b79;
    font-size: 15px;
    text-decoration: none;
    padding-bottom: 5px;
}
.ft_image{
    height:40px;
    width:120px;
}
.ft_image_social{
    height:20px;
    width:20px;
}
.social_icons {
    display: flex;
    gap: 15px;          
    align-items: center;
}
.ft_image_warranty{
    width:48px;
    height:40px;
}
.warranty_icons{
    display:flex;
    width:250px;
    margin-bottom: 15px;
}
.searches{
    margin-top:40px;
    margin-left:150px;
    margin-right:150px;
}
.searches_heading{
    margin-top: -15px;
    background: #fafbfc;
    padding-right: 10px;
    color: #282c3f;
    font-size: 12px;
    font-weight: 700;
}
.popular_searches{
    color: #696b79;
    font-size: 15px;
    line-height: 25px;
    margin-top:15px;
    text-align: justify;
}
.copyright{
    color: #94969f;
    padding:15px;
    display: flex;
    justify-content: space-around;
}
.copyright p a{
    color:blue;
}
.address{
    margin-left:150px;
    margin-right:150px;
    display:flex;
    margin-bottom:40px;
}
.address_container{
    display: flex;
    flex-direction: column;
}
.office{
    font-weight: 700;
    color: #282c3f;
    margin-top: 15px;
    margin-bottom: 15px;
}
.address_location{
    color: #94969f;
    font-size: 15px;
    min-width:750px;
}
.contact{
    margin-top:auto;
}
.contact p{
    color: #94969f;
    font-size: 15px;
    font-style: normal;
    line-height: 20px;
}
.contact p a{
    color: #526cd0;
    font-weight: 700;
}